<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Internal NuGet Server" value="https://nexus.jordangp.com/repository/nuget/index.json" />
        <add key="Local" value="c:\localPackages" />
    </packageSources>
    <disabledPackageSources>
        <clear />
        <add key="Local" value="true" />
    </disabledPackageSources>
</configuration>